body{
 font-family: 'Georgia', serif;
 background-color: #f5f5f5;
 color: #333;
 margin: 0;
 padding: 0;
}
.menu a{
 background-color: #000;
 color: white;
 text-decoration: none; 
 font-size: 14px;
 position: fixed;
 padding: 10px 14px;
 top: 20px;
 left: 20px;
 border-radius: 6px;
}
.container{
 max-width: 800px;
 margin: 0 auto;
 padding: 40px 14px;
 background-color: #fff;
 box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 border-radius: 10px;
}
.container h1{
 text-align: center;
 margin-bottom: 40px;
 color:#4f9cf9; 
}
.container p{
 margin-bottom: 20px;
 text-align: justify;
}
strong{
 color: #6c63ff;
}
