body{
 background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 1px, transparent 1px, transparent 20px);
}
.lista-artigos{
 background-color: #f8f9fa;
 max-width: 800px;
 margin: 80px auto;
 padding: 20px;
 border-radius: 16px;
 box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.lista-artigos h1{
 font-size: 1.8rem;
 margin-bottom: 5px;
 color: #222;
}
.lista-artigos p{
 font-style: italic;
 margin-bottom: 20px;
 color: #555;
}
.lista-artigos ol{
 list-style-position: inside;
}
.lista-artigos a{
 text-decoration: none;
 color: #0033cc; 
 position: relative;
 trasition: color 0.3s ease;
}
.lista-artigos a:hover{
 color: #000;
 text-decoration: underline;
}
.
